{% extends "base.html" %} 
{%load static%} 
{% block content %}
<div class="container">
   
    <div class="bg-image " 
    style="background-image: url('{% static 'cv_app/imgs/avatarr.jpg' %}');
    height: 100vh">
                  <div class="row">
                    <div id="apropos">
                    <div class="col-lg-6">
                    <h1>Apropos de moi</h1>
                    <p> Professionnelle en informatique et des opérations au sein d'un ONG
                      internationale dans les différents domaines comme informatique,
                      administration, ressources humaines et logistique avec 4 ans
                      d'expérience
                    </p>
                  </div>
            
                My names: {{ name }} {{ surname }} <br>
   
                    <span>Date de naissance</span> : {{ birthday }}<br>
                    <span>Email</span> : {{ email }}<br>
                    <span>Phone</span> : {{ phonenumber }}<br>
                    <span>Github</span> : {{ gith }} <br>
                    <span>Linkdin</span> : {{ linkd }} <br>
                    <span>Address</span> :  {{ adress }}<br>
            </div>
        </div>
    </div>
</div>
</div>
            
    <!--Resume Section-->
    <section class="section" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                       <div class="card-header">
                            <div id="experiences">
                                <h4>Experiences Proffessionnel</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger">Décembre 2015- Septembre 2019</h6>
                            <P>Assistant
                                informatique et Assistant administrative, au sien de Save
                                the Children International </P>
                            <P class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum recusandae, cupiditate ullam dolor ratione repellendus.aliquid repudiandae saepe!.</P>
                            <hr>
                            <h6 class="title text-danger">Juin 2021-Juille 2021</h6>
                            <P> Agent de stock  chez Blechmann</P>
                            <P class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum recusandae, cupiditate ullam dolor ratione repellendus.aliquid repudiandae saepe!.</P>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                       <div class="card-header">
                            <div id="edications">
                                <h4>Education</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger">Janvier 2022 - Present</h6>
                            <P>En formation de web developer à CFITECH</P>
                            <hr>
                            <h6 class="title text-danger">2017 - 2019</h6>
                            <P>Master en Business Administration à Mount Kenya Universty </P>
                            <hr>
                            <h6 class="title text-danger">2007 - 2012</h6>
                            <P>Bachelier en informatique et gestion</P>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                       <div class="card-header">
                            <div id="competences">
                                <h4 class="mt-2">Compétences</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                           <h6>hTL5 &amp; CSS3</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-dark" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>JavaScript</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-dark" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>PHP</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-dark" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>SQL</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-dark" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Python</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-dark" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Wordpress</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-dark" role="progressbar" style="width: 90%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Languages</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                           <h6>English</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>French</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-dark text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">500</h1>
                            <p class="text-light mb-1">Hours Worked</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-layers-alt icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">50K</h1>
                            <p class="text-light mb-1">Project Finished</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-face-smile icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">200K</h1>
                            <p class="text-light mb-1">Happy Clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-heart-broken icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">2k</h1>
                            <p class="text-light mb-1">Coffee Drinked</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

</body>
</html>
