body {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-brand {
    color: red;
    margin-left: 6rem;
}

.navbar-nav li a {
    color: rgb(240, 206, 206)
}

.container-fluid {
    height: 300px;
    width: 200;
    padding-inline-start: 10%;
    background-color: rgb(0, 0, 0);
    padding-right: 8rem;
}

#apropos {
    padding-inline-start: 40%;
    padding-top: 5%;
    color: rgb(250, 247, 247)
}

.section {
    padding-top: 2rem;
}

img {
    border-radius: 80%;
}

.container-apropos {
    height: 1900px;
    width: 200;
    padding-inline-start: 10%;
    background-color: rgb(54, 75, 99);
    padding-right: 8rem;
}