body {
    font-family: 'Courier New', Courier, monospace;
}

.navbar-brand {
    color: red;
}

.navbar-nav li a {
    color: gray
}

.container-fluid {
    height: 300px;
    width: 200;
    padding-inline-start: 10%;
    background-color: rgb(0, 0, 0);
    padding-right: 8rem;
}

#apropos {
    padding-inline-start: 40%;
    padding-top: 20%;
    color: rgb(249, 246, 245);
}

.section {
    padding-top: 2rem;
}

img {
    border-radius: 80%;
    margin-right: 4rem;
}