
{% extends "base.html" %} 
{%load static%} 
{% block content %}
   
<ul class="Portfolio">
    <li class="nav-item">
        <a class="nav-link disable" aria-current="page" href="http://127.0.0.1:8000/portfolio/#justeprix">Le juste prix</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disable" href="http://127.0.0.1:8000/portfolio/#pin">Pinterest</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disable" href="http://127.0.0.1:8000/portfolio/#class">Classement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disable" href="http://127.0.0.1:8000/portfolio/#video">Videtech</a>
    </li> 
</ul>

<div class="container">
    <h4>Le juste prix</h4>
    <div class="row">
        <div class="col-md-4 ">
            <div class="img"><img width="200" height="300" src={% static 'cv_app/imgs/game_photo-1293269.jpeg' %}/></div>
        </div>
        <div class="col-md-6 mb-4">
            <div id="justeprix">
                <span class="line"></span>
            </div>          
            <ul class="Portfolio">
                <li class="juste">
                    Technologies utilisées: Python,Vscode
                </li>
                <li class="juste">
                    Domaine du projet  : Jeux au hasard  
                </li>
                <li class="juste">
                    Description du projet: <P>Le est un jeux qui consistant à deviner le prix correct d’un objet.
                        le jeux de devine le juste prix a 3 mode de joueur: mode facile,Mode normale et la mode personalié

                          Pour deviner le juste prix (qui est un nombre entier), le joueur propose un prix. Si le
                          prix proposé est supérieur au juste prix, le programme affiche “C’est moins”. Si le prix
                          proposé est inférieur au juste prix, le programme affiche “C’est plus”. Le programme se
                          termine quand l’utilisateur trouve le juste prix.
                </li>
                <li class="juste">
                    Cette projet m'apris de mettre en application la Séquence algorithmique et programmation Python,
                    l'utilisation de fonctions et des conditions et des boucles
                   
                    il est disponible sur le lien suivant  <a class="nav-link disable" href="https://github.com/niyoel/leJustePrix">Le juste prix</a>
                    
                </li> 
                <li class="juste">
                    Cette projet m'apris de mettre en application la Séquence algorithmique et programmation Python,
                    l'utilisation de fonctions et des conditions et des boucles
                    
                    https://github.com/niyoel/leJustePrix</P>
              
                </li>  
            </ul>
            
    
        </div>
    </div>
    <h4>Pinterest Dev</h4>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="img"><img width="200" height="300" src={% static 'cv_app/imgs/game_photo-1293269.jpeg' %}/></div>
        </div>
        <div class="col-md-6">
            <div id="pin">
                <span class="line"></span>
            </div>          
            <ul class="Portfolio">
                <li class="juste">
                    Technologies utilisées: PHP,Symfony,bootstrap,js, css,Vscode
                </li>
                <li class="juste">
                    Domaine du projet  : Development Web  
                </li>
                <li class="juste">
                    Description du projet: <P>Le est un jeux qui consistant à deviner le prix correct d’un objet.
                        le jeux de devine le juste prix a 3 mode de joueur: mode facile,Mode normale et la mode personalié

                          Pour deviner le juste prix (qui est un nombre entier), le joueur propose un prix. Si le
                          prix proposé est supérieur au juste prix, le programme affiche “C’est moins”. Si le prix
                          proposé est inférieur au juste prix, le programme affiche “C’est plus”. Le programme se
                          termine quand l’utilisateur trouve le juste prix.
                </li>
                <li class="juste">
                    Cette projet m'apris de mettre en application la Séquence algorithmique et programmation Python,
                    l'utilisation de fonctions et des conditions et des boucles
                   
                    il est disponible sur le lien suivant  <a class="nav-link disable" href="https://github.com/niyoel/leJustePrix">Le juste prix</a>
                    
                </li> 
                <li class="juste">
                    Cette projet m'apris de mettre en application la Séquence algorithmique et programmation Python,
                    l'utilisation de fonctions et des conditions et des boucles
                    
                    https://github.com/niyoel/leJustePrix</P>
              
                </li>  
            </ul>
            
    
        </div>
        <h4>Classements</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="img"><img width="200" height="300" src={% static 'cv_app/imgs/game_photo-1293269.jpeg' %}/></div>
        </div>
        <div class="col-md-6">
            <div id="class">
                <span class="line"></span>
            </div>          
            <ul class="Portfolio">
                <li class="juste">
                    Technologies utilisées: JS,React,Bootstrap, css, Vscode
                </li>
                <li class="juste">
                    Domaine du projet  : Development Web 
                </li>
                <li class="juste">
                    Description du projet: <P>Le est un jeux qui consistant à deviner le prix correct d’un objet.
                        le jeux de devine le juste prix a 3 mode de joueur: mode facile,Mode normale et la mode personalié

                          Pour deviner le juste prix (qui est un nombre entier), le joueur propose un prix. Si le
                          prix proposé est supérieur au juste prix, le programme affiche “C’est moins”. Si le prix
                          proposé est inférieur au juste prix, le programme affiche “C’est plus”. Le programme se
                          termine quand l’utilisateur trouve le juste prix.
                </li>
                <li class="juste">
                    Cette projet m'apris de mettre en application la Séquence algorithmique et programmation Python,
                    l'utilisation de fonctions et des conditions et des boucles
                   
                    il est disponible sur le lien suivant  <a class="nav-link disable" href="https://github.com/niyoel/leJustePrix">Le juste prix</a>
                    
                </li> 
                <li class="juste">
                    Cette projet m'apris de mettre en application la Séquence algorithmique et programmation Python,
                    l'utilisation de fonctions et des conditions et des boucles
                    
                    https://github.com/niyoel/leJustePrix</P>
              
                </li>  
            </ul>
            
    
        </div>
    </div>
    </div>
    <h4>Videotech</h4>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="img"><img width="200" height="300" src={% static 'cv_app/imgs/game_photo-1293269.jpeg' %}/></div>
        </div>
        <div class="col-md-6">
            <div id="video">
                <span class="line"></span>
            </div>          
            <ul class="Portfolio">
                <li class="juste">
                    Technologies utilisées: PHP,Symfony,bootstrap,js, css,Vscode
                </li>
                <li class="juste">
                    Domaine du projet  : Development Web 
                </li>
                <li class="juste">
                    Description du projet: <P>Le est un jeux qui consistant à deviner le prix correct d’un objet.
                        le jeux de devine le juste prix a 3 mode de joueur: mode facile,Mode normale et la mode personalié

                          Pour deviner le juste prix (qui est un nombre entier), le joueur propose un prix. Si le
                          prix proposé est supérieur au juste prix, le programme affiche “C’est moins”. Si le prix
                          proposé est inférieur au juste prix, le programme affiche “C’est plus”. Le programme se
                          termine quand l’utilisateur trouve le juste prix.
                </li>
                <li class="juste">
                    Cette projet m'apris de mettre en application la Séquence algorithmique et programmation Python,
                    l'utilisation de fonctions et des conditions et des boucles
                   
                    il est disponible sur le lien suivant  <a class="nav-link disable" href="https://github.com/niyoel/leJustePrix">Le juste prix</a>
                    
                </li> 
                <li class="juste">
                    Cette projet m'apris de mettre en application la Séquence algorithmique et programmation Python,
                    l'utilisation de fonctions et des conditions et des boucles
                    
                    https://github.com/niyoel/leJustePrix</P>
              
                </li>  
            </ul>
            
    
        </div>
    </div>
</div>


{% endblock %}
